write the SQL queries:

Table 1

1) Write a query to give details of hotels city is Sydney and ratings is more then 5.

In [1]:
import sqlite3
import pandas as pd

# Create a temporary SQLite database
conn = sqlite3.connect(':memory:')

# Sample data for hotels (assuming the table name is 'hotels')
data = [
    (1, 'Hotel A', 'Sydney', 'Location A', 100, 8.5, '4 stars', 'Excellent'),
    (2, 'Hotel B', 'London', 'Location B', 150, 9.0, '5 stars', 'Superb'),
    (3, 'Hotel C', 'Sydney', 'Location C', 80, 7.5, '3 stars', 'Good'),
    (4, 'Hotel D', 'Paris', 'Location D', 120, 8.0, '4 stars', 'Very Good'),
]

# Create a table and import the data
conn.execute('''
CREATE TABLE hotels (
    sno INT,
    "Hotel name" TEXT,
    cities TEXT,
    location TEXT,
    "number of reviews" INT,
    "user ratings" FLOAT,
    "star rating" TEXT,
    "review score" TEXT
)
''')

conn.executemany('INSERT INTO hotels VALUES (?, ?, ?, ?, ?, ?, ?, ?)', data)

# Run the SQL query
query = '''
SELECT *
FROM hotels
WHERE cities = 'Sydney' AND "user ratings" > 5;
'''

result = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Print the result
print(result)

   sno Hotel name  cities    location  number of reviews  user ratings  \
0    1    Hotel A  Sydney  Location A                100           8.5
1    3    Hotel C  Sydney  Location C                 80           7.5

  star rating review score
0     4 stars    Excellent
1     3 stars         Good

2)  write a query to find the location with the most reviews.

In [2]:
import pandas as pd

# Sample data for 12 cities (replace this with your actual data)
data = {
    'Hotel name': ['Hotel A', 'Hotel B', 'Hotel C', 'Hotel D', 'Hotel E',
                   'Hotel F', 'Hotel G', 'Hotel H', 'Hotel I', 'Hotel J',
                   'Hotel K', 'Hotel L'],
    'Cities': ['Dubai', 'London', 'Paris', 'New York', 'Tokyo',
               'Sydney', 'Los Angeles', 'Beijing', 'Mumbai', 'Rome',
               'Cairo', 'Toronto'],
    'Location': ['Downtown', 'City Center', 'Eiffel Tower', 'Times Square', 'Shinjuku',
                 'Opera House', 'Hollywood', 'Forbidden City', 'Marine Drive', 'Colosseum',
                 'Pyramids', 'CN Tower'],
    'Number of Reviews': [500, 700, 300, 900, 400, 600, 800, 400, 1000, 500, 300, 500],
    'User Ratings': [4.2, 4.5, 4.0, 4.8, 4.2, 4.3, 4.6, 4.1, 4.9, 4.3, 4.0, 4.4],
    'Star Rating': [4, 5, 4, 5, 4, 4, 5, 4, 5, 4, 4, 4],
    'Review Score': [8.4, 9.0, 8.1, 9.2, 8.5, 8.7, 9.1, 8.0, 9.4, 8.6, 8.1, 8.5]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Find the location with the most reviews
location_with_most_reviews = df.groupby('Location')['Number of Reviews'].sum().idxmax()

print("Location with the Most Reviews:", location_with_most_reviews)

# Print the result
print(result)

Location with the Most Reviews: Marine Drive
   sno Hotel name  cities    location  number of reviews  user ratings  \
0    1    Hotel A  Sydney  Location A                100           8.5
1    3    Hotel C  Sydney  Location C                 80           7.5

  star rating review score
0     4 stars    Excellent
1     3 stars         Good

 3) Write a query that will retrieve all rows and sort them in descending order of user ratings.

In [3]:
import pandas as pd

# Sample data for 12 cities (replace this with your actual data)
data = {
    'Hotel name': ['Hotel A', 'Hotel B', 'Hotel C', 'Hotel D', 'Hotel E',
                   'Hotel F', 'Hotel G', 'Hotel H', 'Hotel I', 'Hotel J',
                   'Hotel K', 'Hotel L'],
    'Cities': ['Dubai', 'London', 'Paris', 'New York', 'Tokyo',
               'Sydney', 'Los Angeles', 'Beijing', 'Mumbai', 'Rome',
               'Cairo', 'Toronto'],
    'Location': ['Downtown', 'City Center', 'Eiffel Tower', 'Times Square', 'Shinjuku',
                 'Opera House', 'Hollywood', 'Forbidden City', 'Marine Drive', 'Colosseum',
                 'Pyramids', 'CN Tower'],
    'Number of Reviews': [500, 700, 300, 900, 400, 600, 800, 400, 1000, 500, 300, 500],
    'User Ratings': [4.2, 4.5, 4.0, 4.8, 4.2, 4.3, 4.6, 4.1, 4.9, 4.3, 4.0, 4.4],
    'Star Rating': [4, 5, 4, 5, 4, 4, 5, 4, 5, 4, 4, 4],
    'Review Score': [8.4, 9.0, 8.1, 9.2, 8.5, 8.7, 9.1, 8.0, 9.4, 8.6, 8.1, 8.5]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Sort the DataFrame in descending order of user ratings
sorted_df = df.sort_values(by='User Ratings', ascending=False)

# Display the sorted DataFrame
print(sorted_df)

   Hotel name       Cities        Location  Number of Reviews  User Ratings  \
8     Hotel I       Mumbai    Marine Drive               1000           4.9
3     Hotel D     New York    Times Square                900           4.8
6     Hotel G  Los Angeles       Hollywood                800           4.6
1     Hotel B       London     City Center                700           4.5
11    Hotel L      Toronto        CN Tower                500           4.4
5     Hotel F       Sydney     Opera House                600           4.3
9     Hotel J         Rome       Colosseum                500           4.3
0     Hotel A        Dubai        Downtown                500           4.2
4     Hotel E        Tokyo        Shinjuku                400           4.2
7     Hotel H      Beijing  Forbidden City                400           4.1
2     Hotel C        Paris    Eiffel Tower                300           4.0
10    Hotel K        Cairo        Pyramids                300           4.0

    Star Rating  Review Score
8             5           9.4
3             5           9.2
6             5           9.1
1             5           9.0
11            4           8.5
5             4           8.7
9             4           8.6
0             4           8.4
4             4           8.5
7             4           8.0
2             4           8.1
10            4           8.1

4) Write a query that retrieves rows where the star rating is greater than or equal to 4.0 and sorts them in descending order of review score.

In [4]:
import pandas as pd

# Sample data for 12 cities (replace this with your actual data)
data = {
    'Hotel name': ['Hotel A', 'Hotel B', 'Hotel C', 'Hotel D', 'Hotel E',
                   'Hotel F', 'Hotel G', 'Hotel H', 'Hotel I', 'Hotel J',
                   'Hotel K', 'Hotel L'],
    'Cities': ['Dubai', 'London', 'Paris', 'New York', 'Tokyo',
               'Sydney', 'Los Angeles', 'Beijing', 'Mumbai', 'Rome',
               'Cairo', 'Toronto'],
    'Location': ['Downtown', 'City Center', 'Eiffel Tower', 'Times Square', 'Shinjuku',
                 'Opera House', 'Hollywood', 'Forbidden City', 'Marine Drive', 'Colosseum',
                 'Pyramids', 'CN Tower'],
    'Number of Reviews': [500, 700, 300, 900, 400, 600, 800, 400, 1000, 500, 300, 500],
    'User Ratings': [4.2, 4.5, 4.0, 4.8, 4.2, 4.3, 4.6, 4.1, 4.9, 4.3, 4.0, 4.4],
    'Star Rating': [4, 5, 4, 5, 4, 4, 5, 4, 5, 4, 4, 4],
    'Review Score': [8.4, 9.0, 8.1, 9.2, 8.5, 8.7, 9.1, 8.0, 9.4, 8.6, 8.1, 8.5]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Filter rows where star rating is greater than or equal to 4.0
filtered_df = df.loc[df['Star Rating'] >= 4.0]

# Sort the filtered DataFrame in descending order of review score
sorted_df = filtered_df.sort_values(by='Review Score', ascending=False)

# Display the sorted DataFrame
print(sorted_df)

   Hotel name       Cities        Location  Number of Reviews  User Ratings  \
8     Hotel I       Mumbai    Marine Drive               1000           4.9
3     Hotel D     New York    Times Square                900           4.8
6     Hotel G  Los Angeles       Hollywood                800           4.6
1     Hotel B       London     City Center                700           4.5
5     Hotel F       Sydney     Opera House                600           4.3
9     Hotel J         Rome       Colosseum                500           4.3
4     Hotel E        Tokyo        Shinjuku                400           4.2
11    Hotel L      Toronto        CN Tower                500           4.4
0     Hotel A        Dubai        Downtown                500           4.2
2     Hotel C        Paris    Eiffel Tower                300           4.0
10    Hotel K        Cairo        Pyramids                300           4.0
7     Hotel H      Beijing  Forbidden City                400           4.1

    Star Rating  Review Score
8             5           9.4
3             5           9.2
6             5           9.1
1             5           9.0
5             4           8.7
9             4           8.6
4             4           8.5
11            4           8.5
0             4           8.4
2             4           8.1
10            4           8.1
7             4           8.0

5) Write a query to count the number of hotels in each city.

In [5]:
import pandas as pd

# Sample data for 12 cities (replace this with your actual data)
data = {
    'Hotel name': ['Hotel A', 'Hotel B', 'Hotel C', 'Hotel D', 'Hotel E',
                   'Hotel F', 'Hotel G', 'Hotel H', 'Hotel I', 'Hotel J',
                   'Hotel K', 'Hotel L'],
    'Cities': ['Dubai', 'London', 'Paris', 'New York', 'Tokyo',
               'Sydney', 'Los Angeles', 'Beijing', 'Mumbai', 'Rome',
               'Cairo', 'Toronto'],
    'Location': ['Downtown', 'City Center', 'Eiffel Tower', 'Times Square', 'Shinjuku',
                 'Opera House', 'Hollywood', 'Forbidden City', 'Marine Drive', 'Colosseum',
                 'Pyramids', 'CN Tower'],
    'Number of Reviews': [500, 700, 300, 900, 400, 600, 800, 400, 1000, 500, 300, 500],
    'User Ratings': [4.2, 4.5, 4.0, 4.8, 4.2, 4.3, 4.6, 4.1, 4.9, 4.3, 4.0, 4.4],
    'Star Rating': [4, 5, 4, 5, 4, 4, 5, 4, 5, 4, 4, 4],
    'Review Score': [8.4, 9.0, 8.1, 9.2, 8.5, 8.7, 9.1, 8.0, 9.4, 8.6, 8.1, 8.5]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Count the number of hotels in each city
hotel_count_by_city = df.groupby('Cities')['Hotel name'].count().reset_index()
hotel_count_by_city.rename(columns={'Hotel name': 'Number of Hotels'}, inplace=True)

# Display the hotel count by city
print(hotel_count_by_city)

         Cities  Number of Hotels
0       Beijing                 1
1         Cairo                 1
2         Dubai                 1
3        London                 1
4   Los Angeles                 1
5        Mumbai                 1
6      New York                 1
7         Paris                 1
8          Rome                 1
9        Sydney                 1
10        Tokyo                 1
11      Toronto                 1

## Table 2

1) Write a query to retrieve hotels that have both a restaurant and a bar.

In [6]:
import pandas as pd

# Load the DataFrame from the CSV file
df2 = pd.read_csv('data2.csv')

# Retrieve hotels that have both a restaurant and a bar
filtered_df = df2[(df2['Restaurant'] == 'Yes') & (df2['Bar'] == 'Yes')]

# Display the filtered DataFrame
print(filtered_df)

    sno Hotel name Free Wifi Family rooms Non Smoking Rooms Restaurant  Bar  \
0     1    Hotel A       Yes          Yes               Yes        Yes  Yes
1     2    Hotel B       Yes          Yes               Yes        Yes  Yes
2     3    Hotel C        No          Yes               Yes        Yes  Yes
3     4    Hotel D       Yes          Yes               Yes        Yes  Yes
4     5    Hotel E       Yes           No               Yes        Yes  Yes
5     6    Hotel F       Yes          Yes               Yes        Yes  Yes
6     7    Hotel G       Yes           No                No        Yes  Yes
7     8    Hotel H       Yes          Yes               Yes        Yes  Yes
8     9    Hotel I       Yes          Yes               Yes        Yes  Yes
9    10    Hotel J        No          Yes               Yes        Yes  Yes
10   11    Hotel K       Yes          Yes               Yes        Yes  Yes
11   12    Hotel L       Yes          Yes               Yes        Yes  Yes

   Heating Lift Breakfast Cuisine1 Breakfast Cuisine2 Breakfast Cuisine3
0      Yes  Yes        Continental             Buffet           Omelette
1      Yes  Yes            English        Continental      Eggs Benedict
2      Yes  Yes             French          Croissant              Crepe
3      Yes  Yes           American             Buffet           Pancakes
4      Yes   No           Japanese              Sushi              Natto
5      Yes  Yes         Australian       Full English  Vegemite on Toast
6      Yes   No           American           Pancakes     Bacon and Eggs
7      Yes  Yes            Chinese            Dim Sum             Congee
8      Yes  Yes             Indian               Poha               Idli
9      Yes  Yes            Italian           Pastries             Coffee
10     Yes  Yes           Egyptian            Falafel        Ful Medames
11     Yes  Yes           Canadian     Bacon and Eggs        Maple Syrup

2) Write a query to retrieve hotels that offer free wifi and have family rooms.

In [7]:
import pandas as pd

# Load the DataFrame from the CSV file
df2 = pd.read_csv('data2.csv')

# Retrieve hotels that offer free Wi-Fi and have family rooms
filtered_df = df2[(df2['Free Wifi'] == 'Yes') & (df2['Family rooms'] == 'Yes')]

# Display the filtered DataFrame
print(filtered_df)

    sno Hotel name Free Wifi Family rooms Non Smoking Rooms Restaurant  Bar  \
0     1    Hotel A       Yes          Yes               Yes        Yes  Yes
1     2    Hotel B       Yes          Yes               Yes        Yes  Yes
3     4    Hotel D       Yes          Yes               Yes        Yes  Yes
5     6    Hotel F       Yes          Yes               Yes        Yes  Yes
7     8    Hotel H       Yes          Yes               Yes        Yes  Yes
8     9    Hotel I       Yes          Yes               Yes        Yes  Yes
10   11    Hotel K       Yes          Yes               Yes        Yes  Yes
11   12    Hotel L       Yes          Yes               Yes        Yes  Yes

   Heating Lift Breakfast Cuisine1 Breakfast Cuisine2 Breakfast Cuisine3
0      Yes  Yes        Continental             Buffet           Omelette
1      Yes  Yes            English        Continental      Eggs Benedict
3      Yes  Yes           American             Buffet           Pancakes
5      Yes  Yes         Australian       Full English  Vegemite on Toast
7      Yes  Yes            Chinese            Dim Sum             Congee
8      Yes  Yes             Indian               Poha               Idli
10     Yes  Yes           Egyptian            Falafel        Ful Medames
11     Yes  Yes           Canadian     Bacon and Eggs        Maple Syrup

3) Write a query to count the occurrences of each breakfast cuisine type.

In [8]:
import pandas as pd

# Load the DataFrame from the CSV file
df2 = pd.read_csv('data2.csv')

# Count the occurrences of each breakfast cuisine type
cuisine_counts = df2['Breakfast Cuisine1'].append(df2['Breakfast Cuisine2']).append(df2['Breakfast Cuisine3']).value_counts()

# Display the cuisine counts
print(cuisine_counts)

Continental          2
Buffet               2
Bacon and Eggs       2
Pancakes             2
American             2
Japanese             1
Pastries             1
Ful Medames          1
Coffee               1
Idli                 1
Congee               1
Vegemite on Toast    1
Natto                1
Crepe                1
Eggs Benedict        1
Omelette             1
French               1
Falafel              1
Poha                 1
Australian           1
Dim Sum              1
English              1
Full English         1
Sushi                1
Croissant            1
Canadian             1
Egyptian             1
Italian              1
Indian               1
Chinese              1
Maple Syrup          1
dtype: int64

C:\Users\jakha\AppData\Local\Temp\ipykernel_11116\621375677.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cuisine_counts = df2['Breakfast Cuisine1'].append(df2['Breakfast Cuisine2']).append(df2['Breakfast Cuisine3']).value_counts()

4) Write a query to retrieve hotels that offer a certain (CONTINENTAL) breakfast cuisine.

In [9]:
import pandas as pd

# Load the DataFrame from the CSV file
df2 = pd.read_csv('data2.csv')

# Define the desired breakfast cuisine (e.g., CONTINENTAL)
desired_cuisine = 'CONTINENTAL'

# Retrieve hotels that offer the desired breakfast cuisine
filtered_df = df2[(df2['Breakfast Cuisine1'] == desired_cuisine) |
                   (df2['Breakfast Cuisine2'] == desired_cuisine) |
                   (df2['Breakfast Cuisine3'] == desired_cuisine)]

# Display the filtered DataFrame
print(filtered_df)

Empty DataFrame
Columns: [sno, Hotel name, Free Wifi, Family rooms, Non Smoking Rooms, Restaurant, Bar, Heating, Lift, Breakfast Cuisine1, Breakfast Cuisine2, Breakfast Cuisine3]
Index: []

5) Write a query to see whether an hotel has all amenities such heating, lift and Bar.

In [10]:
import pandas as pd

# Load the DataFrame from the CSV file
df2 = pd.read_csv('data2.csv')

# Define the desired amenities
desired_amenities = ['Heating', 'Lift', 'Bar']

# Filter hotels that have all desired amenities
filtered_df = df2[df2[desired_amenities].eq('Yes').all(axis=1)]

# Display the filtered DataFrame
print(filtered_df)

    sno Hotel name Free Wifi Family rooms Non Smoking Rooms Restaurant  Bar  \
0     1    Hotel A       Yes          Yes               Yes        Yes  Yes
1     2    Hotel B       Yes          Yes               Yes        Yes  Yes
2     3    Hotel C        No          Yes               Yes        Yes  Yes
3     4    Hotel D       Yes          Yes               Yes        Yes  Yes
5     6    Hotel F       Yes          Yes               Yes        Yes  Yes
7     8    Hotel H       Yes          Yes               Yes        Yes  Yes
8     9    Hotel I       Yes          Yes               Yes        Yes  Yes
9    10    Hotel J        No          Yes               Yes        Yes  Yes
10   11    Hotel K       Yes          Yes               Yes        Yes  Yes
11   12    Hotel L       Yes          Yes               Yes        Yes  Yes

   Heating Lift Breakfast Cuisine1 Breakfast Cuisine2 Breakfast Cuisine3
0      Yes  Yes        Continental             Buffet           Omelette
1      Yes  Yes            English        Continental      Eggs Benedict
2      Yes  Yes             French          Croissant              Crepe
3      Yes  Yes           American             Buffet           Pancakes
5      Yes  Yes         Australian       Full English  Vegemite on Toast
7      Yes  Yes            Chinese            Dim Sum             Congee
8      Yes  Yes             Indian               Poha               Idli
9      Yes  Yes            Italian           Pastries             Coffee
10     Yes  Yes           Egyptian            Falafel        Ful Medames
11     Yes  Yes           Canadian     Bacon and Eggs        Maple Syrup

## Table 3

1) write SQL query to retrieve hotels that offer double bed rooms and sort them by price in descending order.

In [11]:
import pandas as pd
import sqlite3

# Load the CSV data into a pandas DataFrame
df = pd.read_csv('Data3.csv')

# Create a SQLite database in memory
conn = sqlite3.connect(':memory:')

# Write the DataFrame to the SQLite database
df.to_sql('hotels', conn, index=False)

# Define and execute an SQL query
query = '''
SELECT "Hotel name", "Room Type", Prices
FROM hotels
WHERE "Double Bed" > 0
ORDER BY Prices DESC;
'''

result = pd.read_sql_query(query, conn)

# Display the result
print(result)

   Hotel name Room Type  Prices
0     Hotel D     Suite     270
1     Hotel B     Suite     250
2     Hotel C    Deluxe     160
3     Hotel A    Deluxe     150
4     Hotel A  Standard     120
5     Hotel B  Standard     120
6     Hotel C  Standard     120
7     Hotel D  Standard     120
8     Hotel A  Standard     120
9     Hotel B  Standard     120
10    Hotel C  Standard     120
11    Hotel D  Standard     120
12    Hotel A  Standard     120
13    Hotel B  Standard     120
14    Hotel C  Standard     120
15    Hotel D  Standard     120
16    Hotel A  Standard     120
17    Hotel B  Standard     120
18    Hotel C  Standard     120
19    Hotel D  Standard     120
20    Hotel A  Standard     120
21    Hotel B  Standard     120
22    Hotel C  Standard     120
23    Hotel D  Standard     120
24    Hotel A  Standard     120
25    Hotel B  Standard     120
26    Hotel C  Standard     120
27    Hotel D  Standard     120
28    Hotel A  Standard     120
29    Hotel B  Standard     120
30    Hotel C  Standard     120
31    Hotel D  Standard     120
32    Hotel A  Standard     120
33    Hotel B  Standard     120
34    Hotel C  Standard     120
35    Hotel D  Standard     120
36    Hotel A  Standard     120
37    Hotel B  Standard     120
38    Hotel C  Standard     120
39    Hotel D  Standard     120
40    Hotel A  Standard     120
41    Hotel B  Standard     120
42    Hotel C  Standard     120
43    Hotel D  Standard     120
44    Hotel A  Standard     120
45    Hotel B  Standard     120
46    Hotel C  Standard     120
47    Hotel D  Standard     120
48    Hotel A  Standard     120
49    Hotel B  Standard     120
50    Hotel C  Standard     120
51    Hotel D  Standard     120

2) write a SQL query to calculate the average price for each room type.

In [12]:
import pandas as pd
import sqlite3

# Load the CSV data into a pandas DataFrame
df = pd.read_csv('Data3.csv')

# Create a SQLite database in memory
conn = sqlite3.connect(':memory:')

# Write the DataFrame to the SQLite database
df.to_sql('hotels', conn, index=False)

# Define and execute an SQL query to calculate the average price for each room type
query = '''
SELECT "Room Type", AVG(Prices) AS AveragePrice
FROM hotels
GROUP BY "Room Type";
'''

result = pd.read_sql_query(query, conn)

# Display the result
print(result)

  Room Type  AveragePrice
0    Deluxe    155.000000
1  Standard    119.615385
2     Suite    260.000000

3) Write a query to find details of hotels with user ratings above 5 as a threshold  and that offer free WIFI. (Use table 1 and table 2)

In [22]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('Data1.csv')
df2 = pd.read_csv('Data2.csv')

# Merge the DataFrames using an inner join on 'sno' column
merged_df = df1.merge(df2, on='sno')

# Perform SQL-like query to find details of hotels with user ratings above 5 and free Wi-Fi
query_result = merged_df[(merged_df['user ratings'] > 5) & (merged_df['Free Wifi'] == 'Yes')]

# Display the query result
print(query_result)

   sno Hotel name_x                       cities    location  \
0    1      Hotel A  Dubai, United Arab Emirates  Location A
1    2      Hotel B       London, United Kingdom  Location B

   number of reviews  user ratings star rating review score Hotel name_y  \
0                100           8.5     4 stars    Excellent      Hotel A
1                150           9.0     5 stars       Superb      Hotel B

  Free Wifi Family rooms Non Smoking Rooms Restaurant  Bar Heating Lift  \
0       Yes          Yes               Yes        Yes  Yes     Yes  Yes
1       Yes          Yes               Yes        Yes  Yes     Yes  Yes

  Breakfast Cuisine1 Breakfast Cuisine2 Breakfast Cuisine3
0        Continental             Buffet           Omelette
1            English        Continental      Eggs Benedict

4) Write a query to find hotels that offer both family rooms and non-smoking rooms(Use table 1 and Table 2)

In [20]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('Data1.csv')
df2 = pd.read_csv('Data2.csv')

# Merge the DataFrames using an inner join on 'sno' column
merged_df = df1.merge(df2, on='sno')

# Perform SQL-like query to find hotels that offer both family rooms and non-smoking rooms
query_result = merged_df[(merged_df['Family rooms'] == 'Yes') & (merged_df['Non Smoking Rooms'] == 'Yes')]

# Display the query result
print(query_result)

   sno Hotel name_x                       cities    location  \
0    1      Hotel A  Dubai, United Arab Emirates  Location A
1    2      Hotel B       London, United Kingdom  Location B
2    3      Hotel C       Kuala Lumpur, Malaysia  Location C

   number of reviews  user ratings star rating review score Hotel name_y  \
0                100           8.5     4 stars    Excellent      Hotel A
1                150           9.0     5 stars       Superb      Hotel B
2                 80           7.5     3 stars         Good      Hotel C

  Free Wifi Family rooms Non Smoking Rooms Restaurant  Bar Heating Lift  \
0       Yes          Yes               Yes        Yes  Yes     Yes  Yes
1       Yes          Yes               Yes        Yes  Yes     Yes  Yes
2        No          Yes               Yes        Yes  Yes     Yes  Yes

  Breakfast Cuisine1 Breakfast Cuisine2 Breakfast Cuisine3
0        Continental             Buffet           Omelette
1            English        Continental      Eggs Benedict
2             French          Croissant              Crepe

5) Write a query to calculate the average price for each room type(Use table2 and Table3)

In [1]:
import pandas as pd

# Load CSV data into DataFrames
data2 = pd.read_csv('Data2.csv')
data3 = pd.read_csv('Data3.csv')

# Merge the DataFrames on the 'Hotel name' column
merged_data = pd.merge(data3, data2, on='Hotel name', how='inner')

# Calculate the average price for each room type
average_prices = merged_data.groupby('Room Type')['Prices'].mean().reset_index()

# Rename the 'Prices' column to 'AveragePrice'
average_prices.rename(columns={'Prices': 'AveragePrice'}, inplace=True)

# Display the result
print(average_prices)

  Room Type  AveragePrice
0    Deluxe    155.000000
1  Standard    119.615385
2     Suite    260.000000